*{

    box-sizing: border-box;
}

body{
    text-align: center;

}

button{
    cursor: pointer;
    padding: auto;
    margin: auto;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem;
    
}

button:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

button:active{
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}

button:focus{
    outline: none;
}

.petWindow{
    border-style: double;
    width: 40%;
    height: 70%;
    margin: auto;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    display: grid;
    grid-template-rows: 1fr;
}

